@model GarageShop.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "_PannelLayout";

}
<link rel="stylesheet" href="~/css/modelPannel.css" />

<h3>Are you sure you want to delete  @Html.DisplayFor(model => model.Name)?</h3>


    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title">
                <b>Category name</b> @Html.DisplayFor(model => model.Name)
            </h5>

        <form class="flex" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a class="btn return" asp-action="Index">Return</a>
            <input type="submit" value="Delete" class="btn delete-btn btn-danger" />
        </form>
        </div>
    </div>
   