body {
    position: relative;
}
.cart-side-bar {
    top: 0%;
    right: 4%;
    padding: 36px;
    margin: 15px;
    /* height: 80vh; */
    border: 1px solid rgb(182, 182, 182);
    margin-top: 70px;
    box-shadow: 5px 10px 10px 10px #e4e4e4;
}
.price{
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 600;
}
.cars-wrapper {
    color: rgb(97 97 97);
    /* width: 200px; */
    margin: 0;
}
.cars-container {
    display: flex;
    flex-wrap: wrap;
}
.img-container {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.price {
    margin: 0px;
    font-size: 19px;
}
.car-type {
    margin: 0px;
    font-size: 20px;
}
.desc {
    margin: 0;
    text-align: center;
    font-size: 17px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.car {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    box-shadow: 5px 10px 10px 10px #e4e4e4;
    padding: 30px;
}

.continue-btn {
    margin-top: 12px;
    cursor: pointer;
}



/*  */
.jumbotron h1 {
    color: #954242;
}
span.icon {
    color: #d64541;
}
h2 {
    color: #646464;
    margin-right: 20px;
}
.mrng-60-top {
    margin-top: 60px;
}
a.animated-button:link {
    color: black;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
    color: #fff;
    text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link,
a.animated-button {
    transition-duration: 0.1ms;
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: rgb(71, 71, 71);
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}
a.animated-button.victoria-one {
    border: 1px solid #d24d57;
}
a.animated-button.victoria-one:after {
    background: #d24d57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
    border: 2px solid #d24d57;
}
 a.animated-button.victoria-two:after {
    background: #d24d57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
    border: 2px solid #d24d57;
} 
a.animated-button.victoria-three:after {
    background: #d24d57;
    opacity: 0.5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}
a.animated-button.victoria-four {
    border: 2px solid #d24d57;
}
a.animated-button.victoria-four:after {
    background: #d24d57;
    opacity: 0.5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}