* {
    margin : 0;

}
h5 {
text-align:center;
}
img {
    max-width: 100px;
}
.cards-container {
display: flex;
flex-wrap: wrap;
margin-top: 20px;
}
.card {
   margin-inline-end: 10px;
    background-color: lightblue;
    border: 3px solid black;
    margin-bottom: 2rem;
}
.btn {
    margin: 5px;
    color: white;
    border: 3px solid;
    text-decoration: none;
    background-color: #5959e1;
    transition: all .4s ease;
}
    .btn:hover, .btn:focus {
        background-color: #7a7aef;
        border: 3px solid white;
        box-shadow: #222 1px 0 10px;
    }

.img-container {
height:100px;
}

.delete-btn {
    background-color: red;
}

.delete-btn:hover, .delete-btn:focus {
    background-color: orangered;
    border: 3px solid white;
    box-shadow: #222 1px 0 10px;
}

.return{
    background-color: black;
}

    .return:hover, .return:focus {
        background-color: black;
        color: white;
        border: 3px solid white;
        box-shadow: #222 1px 0 10px;
    }

.search-btn {
    margin:0;
    margin-left:10px;
    color: black;
    background-color:white;
}

    .search-btn:hover, .search-btn:focus {
        background-color: black;
        color: white;
        border: 3px solid white;
        box-shadow: #222 1px 0 10px;
    }