nav {
    /* background-color: rgb(246 246 246); */
    background-color:rgb(251 251 251);
    box-shadow: 1px 1.5px #cecece;
}

.nav-h2 {
    padding: 13px;
    cursor: pointer;
    color: darkblue;
    font-weight: 600;
    color: black;
}

.nav-h2:hover {
    background-color: #e0e0e075;
    text-decoration: none;
    font-weight: bolder;
    color: darkblue;
}

.links {
    width: 150px;
    margin-right: 100px;
}
