
.cars-wrapper {
    color: rgb(41, 41, 41) !important;
}

.side-bar {
    /* background-color: #bebebe; */
    width: 10%;
    /* font-family: cursive; */
    box-shadow: 2px 4px lightgrey;
    /* background-color: #97979754; */
    background-color: #cecece60;
    background-color: rgb(246 246 246);
    padding: 10px;
    padding-inline-start: 30px;
    margin: 1px 0px 0px 0px;
}

.cars-wrapper {
    color: rgb(233, 233, 233);
    width: 90%;
    margin: 0;
}
.category {
    width: 100%;
}

.categories-container input {
opacity:0;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px rgba(238, 238, 238, 0.287);
    animation: fill 0.4s ease-in-out 0.01s forwards, scale 0.3s ease-in-out 0.9s both;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
    background-color: rgb(7, 75, 75) !important;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    /* background-color: rgba(214, 214, 214, 0.418); */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/*  */

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px rgb(245, 245, 245);
        border: 1px solid gray;
        /* box-shadow: inset 0px 0px 0px 30px rgb(168, 56, 36); */
    }
}

/*  */

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #373737;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.search {
    width: 32%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* background-image: url("../img/car2.png"); */
    /* background-position: 10px 10px;  */
    /* background-repeat: no-repeat; */
    padding: 12px 20px 12px 5px;
}
::placeholder {
    color: rgb(31, 31, 31);
    font-size: larger;
}

.search {
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 40%;
}
/* work */
.cars-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, 300px);
    padding: 30px 50px 50px 50px;
}
.img-container {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.price {
    margin: 0px;
    font-size: 20px;
}
.car-type {
    margin: 0px;
    font-size: 20px;
}
.desc {
    margin: 0;
    text-align: center;
    font-size: 17px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.car {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    box-shadow: 5px 10px 10px 10px #e4e4e4;
    /* padding: 30px; */
    padding: 30px;
}

.continue-btn {
    margin-top: 12px;
    cursor: pointer;
}


/* */


.jumbotron h1 {
    color: #954242;
}
span.icon {
    color: #d64541;
}
h2 {
    color: #646464;
    margin-right: 20px;
}
.mrng-60-top {
    margin-top: 60px;
}
a.animated-button:link {
    color: black;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
    color: #fff;
    text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link,
a.animated-button {
    transition-duration: 0.1ms;
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: rgb(71, 71, 71);
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}
a.animated-button.victoria-one {
    border: 1px solid #d24d57;
}
a.animated-button.victoria-one:after {
    background: #d24d57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
    border: 2px solid #d24d57;
}
 a.animated-button.victoria-two:after {
    background: #d24d57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
    border: 2px solid #d24d57;
} 
a.animated-button.victoria-three:after {
    background: #d24d57;
    opacity: 0.5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}
a.animated-button.victoria-four {
    border: 2px solid #d24d57;
}
a.animated-button.victoria-four:after {
    background: #d24d57;
    opacity: 0.5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}