@model GarageShop.Models.Product

@{
    ViewData["Title"] = "Create a new Product";
    Layout = "_PannelLayout";

}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/modelPannelEdit.css" />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" id="name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" id="img-src" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" id="price"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SellerId" class="control-label">Seller Name</label>
        <select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerId"></select>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category Name</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
    </div>
    <div class="form-group flex justify-space-between">
        <a asp-action="Index" class="btn btn-dark">Return</a>
        <input type="submit" value="Create" class="btn btn-primary" onclick="PostOnFacebook()" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '179281507587034',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v11.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
    const PostOnFacebook = () => {
        var price = $("#price").val();
        var imgUrl= $("#img-src").val();
        var message = `New Product! just ${price}$ !!`;
        var access_token = "EAACjDjqTE9oBAOJERENDD6i0ZBOtZBHdnOSEbUjMTkWb51c0WUznHo08wO7Qy7wnnr8WFrhZAHl2S0nQAAnU3sePMoVYVsAyUhtbTCZCFPAOKY9TCkya5lTWcqQiCmzLU2NmlXNI6HYYuZCZBVbjsyTJAgrrmtZCZAJLkgYWWKEXkDEMfPPbdt8DuHhugrYVkWgupxzo2SLwU7FbrACoeUrm"
        FB.api(
            '/101557498947006/photos',
            'POST',
            { "url": imgUrl, "message": message, "access_token": access_token },
            function (response) {
                console.log(response)
            }
        );
    }
    </script>
}
