@model GarageShop.Models.Tag

@{
    ViewData["Title"] = "Details";
    Layout = "_PannelLayout";

}
<link rel="stylesheet" href="~/css/modelPannel.css" />

<h1>Tag Details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">
            <b>Tag name</b> @Html.DisplayFor(model => model.Name)
        </h5>
        <div class="flex justify-space-between">
            <a class="btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn return" asp-action="Index">Return</a>
        </div>
    </div>
</div>
