@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/about.css" />

<div class="about-container">
    <h1 class="h1">@ViewData["Title"]</h1>

    <p class="p">
        GarageShop Parts reaches out across the ISR and Europe and affecting  millions of people’s lives.
        We have grown to be more than just a car parts
        company.
        we are now far greater than that.
        Whether you are our staff helping run our business or a customer, partner or a member of the general
        public – every moment of every day our focus is keeping you moving.
        Whether you are our staff
    </p>
    @section Scripts{
        <script type='text/javascript' src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&setLang=he&key=AtQ5syZg_44nIy3Vc1B2mRtzIlUMpPHTlAXyywJbXIWVWWgqfIjmDJ0fUyeC-sSo" async defer></script>
        <script src="~/js/about.js"></script>
    }
    <div class="map-container" ></div>
    <span id="branches"></span>


</div>
