@model IEnumerable<GarageShop.Models.Product>

@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="~/css/cart.css" />

<section class="class-wrappper">
    <div style="width: 70vw; margin: 20px;" class="flex wrap">
        <header style="margin:0 auto; margin-bottom: 20px;">
            <h1 >Welcome to Your Cart</h1>
        </header>
        <div class="cars-wrapper" style="width: 100%; margin-left:20px" >
            <div class="cars-container">
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
                <div class="car ">
                    <div class="flex column justify0center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="../img/car-img.jfif">
                        </div>
                        <h4 style="margin:10px;" class="price">Price : 50$</h4>
                        <h4 style="margin:10px;" class="car-type">Type : Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside>
<div class="cart-side-bar flex column" style="position: fixed;">
    <h1>Cart</h1>
        <div>
            <span style="color: green; font-size: 25px;">+</span> <span>Trust</span>
        </div>
        <div>
            <span style="color: green; font-size: 25px;">+</span> <span>Price</span>
        </div>
        <div>
            <span style="color: green; font-size: 25px;">+</span> <span>Reallibilty</span>
        </div>
        <p style="font-size:22px; margin-block-start:15px" class="price"> Price : <span>100$</span></p>
        <div>
            <a style="margin-top: 23px !important;
    padding: 10px 20px;
" href="#" class="animated-button victoria-one">
                Purchase
            </a>
        </div>

</div>
    </aside>

</section>
