@model IEnumerable<GarageShop.Models.Product>

@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="~/css/cart.css" />

<section class="class-wrappper">
    <div class="cart-side-bar flex column" style="position: fixed;">
        <h1>Cart</h1>
        <div>
            <span style="color: green;">+</span> <span>Trust</span>
        </div>
        <div>
            <span style="color: green;">+</span> <span>Price</span>
        </div>
        <div>
            <span style="color: green;">+</span> <span>Reallibilty</span>
        </div>
        <p class="price"> Price : <span>100₪</span></p>
        <div>
            <a style="margin-top: 10px !important; " href="#" class="animated-button victoria-one">
                Purchase
            </a>
        </div>
    </div>
  
</section>
