@model IEnumerable<GarageShop.Models.Product>

@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="~/css/cart.css" />

<section class="class-wrappper">
    <div style="width: 70vw; margin: 20px;" class="flex wrap">
        <h1 style="margin:0 auto; margin-bottom: 20px;">Welcome to Your Cart</h1>
        <div class="cars-wrapper" style="width: 100%; margin-left:20px" >
            <div class="cars-container">
                <div class="car ">
                    <div style="margin-left: 30px;" class="img-container">
                        <img src="../img/car-img.jfif">
                    </div>
                    <div class="flex column justify-space-between" style="margin-bottom: 10px;">
                        <h4 style="margin:10px;" class="price">50$</h4>
                        <h4 style="margin:10px;" class="car-type">Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <!--          <div> <a href="#"  class="animated-button victoria-one">
            Continue</a>
        </div> -->
                </div>
                <div class="car">
                    <div style="margin-left: 30px;" class="img-container">
                        <img src="../img/car-img.jfif">
                    </div>
                    <div class="flex column justify-space-between" style="margin-bottom: 10px;">
                        <h4 style="margin:10px;" class="price">50$</h4>
                        <h4 style="margin:10px;" class="car-type">Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <!--          <div> <a href="#"  class="animated-button victoria-one">
            Continue</a>
        </div> -->
                </div> <div class="car ">
                    <div style="margin-left: 30px;" class="img-container">
                        <img src="../img/car-img.jfif">
                    </div>
                    <div class="flex column justify-space-between" style="margin-bottom: 10px;">
                        <h4 style="margin:10px;" class="price">50$</h4>
                        <h4 style="margin:10px;" class="car-type">Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <!--          <div> <a href="#"  class="animated-button victoria-one">
            Continue</a>
        </div> -->
                </div> <div class="car ">
                    <div style="margin-left: 30px;" class="img-container">
                        <img src="../img/car-img.jfif">
                    </div>
                    <div class="flex column justify-space-between" style="margin-bottom: 10px;">
                        <h4 style="margin:10px;" class="price">50$</h4>
                        <h4 style="margin:10px;" class="car-type">Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <!--          <div> <a href="#"  class="animated-button victoria-one">
            Continue</a>
        </div> -->
                </div> <div class="car ">
                    <div style="margin-left: 30px;" class="img-container">
                        <img src="../img/car-img.jfif">
                    </div>
                    <div class="flex column justify-space-between" style="margin-bottom: 10px;">
                        <h4 style="margin:10px;" class="price">50$</h4>
                        <h4 style="margin:10px;" class="car-type">Volvo</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">Lorem ipsum dolor sit amet tol consectetur adipisicing elit. </p>
                    <!--          <div> <a href="#"  class="animated-button victoria-one">
            Continue</a>
        </div> -->
                </div>

            </div>
        </div>
    </div>
    <div class="cart-side-bar flex column" style="position: fixed;">
        <h1>Cart</h1>
        <div>
            <span style="color: green;">+</span> <span>Trust</span>
        </div>
        <div>
            <span style="color: green;">+</span> <span>Price</span>
        </div>
        <div>
            <span style="color: green;">+</span> <span>Reallibilty</span>
        </div>
        <p class="price"> Price : <span>100₪</span></p>
        <div>
        <a style="margin-top: 23px !important;
    padding: 10px 20px;
" href="#" class="animated-button victoria-one">
                Purchase
            </a>
        </div>
    </div>

</section>
