<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/helpers.css">
    <link rel="stylesheet" href="../css/shop.css">
    <title>@ViewData["Title"] - GarageShop</title>
</head>

<body>
    <div class="flex column justify-space-between ">
        <nav class="flex justify-space-between align-center">
            <a href="/" style="margin-left: 20px;">Logo</a>
            <div class="links flex justify-space-between">
                <h2 class="nav-h2">Shop</h2>
                <h2 class="nav-h2">Cart</h2>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="flex justify-center align-center">
            <h2>thanks for using our app....</h2>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>