<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/helpers.css">
    <link rel="stylesheet" href="~/css/nav.css">
    <link rel="stylesheet" href="~/css/footer.css" />
    <title>@ViewData["Title"] - GarageShop</title>
</head>


<div class="flex column" style="height: 100vh;">

    <nav class="flex justify-space-between ">
        <h2 style="margin:0px;margin-left: 20px;"><img style="margin-left: 20px; width: 45px;" src="~/img/c.png" alt=""></h2>
        <div class="flex">
            @using System.Security.Claims;

            @if (Context.User != null && Context.User.HasClaim(ClaimTypes.Role, "Admin"))
            {

                <a class="nav-h2" asp-area="" asp-controller="home" asp-action="admin">Admin Panel</a>
            }
            <a class="nav-h2" asp-area="" asp-controller="home" asp-action="Index">Home</a>
            <a class="nav-h2" asp-area="" asp-controller="home" asp-action="Game">Game</a>
            <a class="nav-h2" asp-area="" asp-controller="shop" asp-action="Index">Shop</a>
            <a class="nav-h2" asp-area="" asp-controller="carts" asp-action="Index">Cart</a>
            <a class="nav-h2" asp-area="" asp-controller="statistics" asp-action="Index">Statistics</a>
            <a class="nav-h2" asp-area="" asp-controller="about" asp-action="Index">About</a>

            @if (Context.User != null && Context.User.Claims.Count() > 0)
            {

                <a class="nav-h2" asp-area="" asp-controller="users" asp-action="Logout">Logout</a>
            }
            else
            {
                <a class="nav-h2" asp-area="" asp-controller="users" asp-action="Login">Login</a>
            }
        </div>
    </nav>

    <div class="flex column justify-space-between" style="height:100%">

        <body>
            <div style="margin-bottom:8vh">
                @RenderBody()
            </div>



            <!--<footer class="" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color:aqua; text-align: center;">
                <h2>thanks for using our app....</h2>
            </footer>!-->
        </body>


        @await RenderSectionAsync("Scripts", required: false)
        <footer class="site-footer">
            <div class="container">
                <div style=" display: flex; margin-right: -15px; margin-left: -15px; justify-content: space-between !important;">
                    <div class="col-sm-12 col-md-6" style="margin-right: 50px !important;">
                        <h6>Summary</h6>
                        <p class="text-justify">A little bit <i>About us! </i> we really hope you enjoy our website as a costumer include as a seller and dont forget to try our game before you leave </p>
                    </div>
                    <div class="col-xs-6 col-md-3" style="max-width:15%;">
                        <h6>Members</h6>
                        <ul class="footer-links">
                            <li><a>Eli guy</a></li>
                            <li><a>Matan pinto</a></li>
                            <li><a>Dudi samarel</a></li>
                            <li><a>Tomer maruani</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="/shop">SHOP</a></li>
                            <li><a href="/carts">CART</a></li>
                            <li><a href="/about">ABOUT</a></li>
                        </ul>
                    </div>
                </div>  
            </div>
        </footer>
            </div>
            </div>
</html>


