<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/helpers.css">
    <link rel="stylesheet" href="~/css/nav.css">
    <title>@ViewData["Title"] - GarageShop</title>
</head>

<body>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>