@model IEnumerable<GarageShop.Models.Product>

@{
    ViewData["Title"] = "Shop";
}

<link rel="stylesheet" href="~/css/shop.css">
 @*<form asp-action="Search">
        <input name="queryName" placeholder="Enter something to search" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>*@
<div class="flex column justify-space-between ">
    <section class="flex">
        <div class="flex column">
        </div>
        <div class="side-bar flex column align-center">
            <h2>Categories</h2>
            <label class="container">
                One
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Two
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Three
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                Four
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="cars-wrapper">
            <div class="flex column align-center justify-center" style="padding: 20px;">
                <h1>Our Car App</h1>
                <input class="search" type="text" placeholder="serach car....">

            </div>
            <div class="cars-container ">
                @foreach (Product product in Model)
                {
                    <div class="car ">
                        <div class="img-container">
                            <img src="@product.Image">
                        </div>
                        <div class="flex justify-space-between" style="margin-bottom: 10px;">
                            <h4 class="price">$@product.Price</h4>
                            <h4 class="car-type">@product.Name</h4>
                        </div>
                        <p class="desc">@product.Description</p>
                        <!--          <div> <a href="#"  class="animated-button victoria-one">
                                Continue</a>
                        </div> -->
                        <div>
                            <a href="/products/details/@product.Id" class="animated-button victoria-one">
                                Continue
                            </a>
                        </div>

                    </div>
                }

            </div>


        </div>
    </section>
</div>