@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />
<div onload=init()>
    <section class="flex justify-space-around" style="margin-inline-end: 2rem; margin-block-start: 0.5rem;">
        <div class="home-side-content-wrapper flex column">
            <div class="weather-container">
                <p class="date"></p>
                <p class="location"></p>
                <img class="condition-icon" />
                <p class="temp"></p>
                <p class="condition"></p>

            </div>
            <h1 style="color: #111; font-family: 'Trocchi', serif; font-size: 41px; font-weight: normal; line-height: 48px; margin: 0; margin-top: 10px;">Welcome to our Cars-Shop Website!</h1>
            <h3 style="color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; margin-bottom: 0px; margin-top: 25px;">Enjoy the game and sign in</h3>
            <div class="flex justify-center" style="width: 90%; margin-top: 50px; margin-bottom: 20px;">
                <video style="width: 100%; height: 100%;" autoplay muted controls>
                    <source src= '~/video/cars.mp4' type="video/mp4"/>
                </video>
            </div>
            <div class="flex wrap">
                <div class="animated-div">
                    <a href="#" class="x home-btn home-btn-sm animated-button victoria-one">
                        Sign
                        up
                    </a>
                </div>
                <div class="animated-div">
                    <a href="#"
                       class="x home-btn home-btn-sm animated-button victoria-two">Login</a>
                </div>
                <div class="animated-div">
                    <a href="#"
                       class="x home-btn home-btn-sm animated-button victoria-three">Register</a>
                </div>
                <div class="animated-div">
                    <a href="#" class="x home-btn home-btn-sm animated-button victoria-four">About</a>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/storage-service.js"></script>
    <script src="~/js/meme-service.js"></script>
    <script src="~/js/meme-controller.js"></script>
    <script src="~/js/home.js"></script>
</div>
