@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="weather-container">
        <p class="date"></p>
        <p class="location"></p>
        <img class="condition-icon" />
        <p class="temp"></p>
        <p class="condition"></p>

    </div>
    @section Scripts{
        <script src="~/js/home.js"></script>
    }
</div>
