@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home2.css" />
<header style="height:50vh !important;" >

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>
    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src= '~/video/cars.mp4' type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Welcome to Our Garage-shop</h1>
                <p class="lead mb-0">Enjoy our website</p>
            </div>
        </div>
    </div>
</header>

<!-- Page section example for content below the video header -->
<section class="my-5">
    <div class="container">
        <div class="row" style="text-align:center">
            <div class="content-container col-md-8 mx-auto">
                <p>Enjoy our website, here you are able to buy cars as you would like to i recomend you to visit our shop and also sign-in/sign up if you are new guest</p>
                <p>Here are your options : you can join as <span></span> a <code style="color:#cd2c2c">Seller</code> also as a <span></span> <code style="color:#cd2c2c">Costumer</code> and of course as<span> </span><code style="color:#cd2c2c">Admin</code> if you have permissions</p>
                <p>We used a lot of clean css in our project and we also added some fun game</p>
                <p class="mb-0">

                   Created By : Eli guy, Matan pinto, Dudi samarel and Tomer maruani - Enjoy
                </p>
            </div>
        </div>
    </div>
</section>
